* {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: pink;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container {
   margin: auto;
} 

.answer {
    width: 50%; 
    height: 45px;
    font-size: 35px;
    padding: 8px;
    background-color: white;
    text-align: right;
    color: black;
    margin-left: 25%;
    border: 3px solid black;
}

.grid2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 1em;
    font-size: 35px;
    justify-content: center;
    margin: 25px 35%;
}

.cell {
    border-radius: 5px;
    border-style: 5px black solid;
    padding: 12px;
    background-color: white;
    font-size: 30px;
}

.button:hover {
    background-color: teal;
}

#clear {
    text-align: center;
    margin: 0 auto;
}