.tabs {
    position: relative;
}

.tabs iframe {
    float: left;
    overflow: hidden;
    list-style-type: none;
    display: block;
    margin-right: 1px;
    left: 70px;
    cursor: pointer;
    position: relative;
    color: white;
    background: #6543f1;
}

.tabs iframe a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.tabs section {
    z-index: 0;
    width: 70%;
    padding: 5px;
    position: absolute;
    top: 39px;
    left: 110px;
    color: black;
    background: white;
    border-radius: 0px 5px 5px 5px;
    box-shadow: 0px 2px 2px 0px grey;
}

/* default 1st tab on top */
.tabs section:first-child {
    z-index: 1;
}

/* color hovered tab black */
.tabs iframe:hover {
    background-color: black;
}

.tabs section:target {
    z-index: 2;
    margin: 0;
}

/* highlight the selected tab */
.tabs section:target + iframe {
    background: black;
}

html {
    height: 100%;
}

body {
    background-image:linear-gradient(to right,#0c796A, #0B9A29);
    background-size: cover;
    background-repeat: no-repeat;
}    